$color1: #fcf7c5;
$textLight: #fffef2;
$textLightPlaceHolder: #c7c7c7;
$color2: #1ae0dd;
$color2hover: #87eff8;
$color3: #ff6c7d;
$color3hover: #ec4457;
$color4: #29221f;
$color4hover: #463934;
$color5: #eec276;
$color5hover: #cca664;
$color6: #1f0e1a;
$color7: #ff5d80;
$color7hover: #f14e71;

$color8: #cacaca;
$color9: #24c0eb;
$color10: #5cceee;

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $color1;

}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    border-bottom: 1px solid $color10;
    box-sizing: border-box;
    color: $textLight;
    box-shadow: rgba($color10, 0.1) 0px 7px 29px 0px;

    #button-container {


        #back{
            display: flex;
            align-items: center;
            padding: 10px;
            background-color: transparent;
            cursor: pointer;
            border-radius: 50%;
            border: transparent;

            &:hover {
                background-color: $color2hover;
            }


            img {
                width: 30px;

            }
        }
    }

    #nav-container {

        #nav-button-container {

            button {
                display: flex;
                align-items: center;
                padding: 10px;
                background-color: transparent;
                cursor: pointer;
                border-radius: 50%;
                border: transparent;

                &:hover {
                    background-color: $color2hover;
                }

                img {
                    width: 30px;

                }
            }
        }

        .hidden{
            display: none;
        }

        #nav {
            position: relative;
            text-align: right;
            color: $color4;
            z-index: 100;

            ul {
                right: 0;
                border: 1px solid $color10;
                background-color: $color1;
                border-radius: 15px;
                width: 170px;
                padding: 20px;
                box-shadow: rgba($color2hover, 0.7) 0px 7px 29px 0px;
                list-style: none;
                position: absolute;
                margin-top: 6px;

                li {
                    a {
                        display: block;
                        text-decoration: none;
                        color: inherit;
                        border-radius: 6px;
                        padding: 10px 5px;
                        font-weight: bold;

                        &:hover {
                            background-color: $color2hover;
                            box-shadow: rgba($color2, 0.7) 0px 7px 29px 0px;
                        }
                    }

                    border-bottom: 2px solid $color2;
                    display: block;
                    margin-bottom: 15px;
                    list-style: none;
                    color: inherit;

                    &:hover {
                        border-bottom: 2px solid transparent;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

#body {
    height: 92vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    gap: 3%;

    padding-bottom: 15vh;

    #couple {
        display: none;
    }

    img {
        width: 200px;
        filter: drop-shadow(0px 5px 15px
        rgba(0, 0, 0, 0.5));
        z-index: 1;
    }

    h2 {
        font-size: 3rem;
        border-bottom: 3px solid $color2;
        
    }

    #buttons {
        z-index: 5;
    }

    div {
        width: 210px;
        display: flex;
        justify-content: space-between;
        &:nth-child(1) {
            left: 0;
        }

        button {
            margin: 0px 10px;
            font-size: 1.5em;
            padding: 5px 15px;
            cursor: pointer;
            border: none;
            border-radius: 5px;

            background-color: $color3;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            
            &:hover {
                background-color: $color3hover;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgba(0, 0, 0, 0.35) 0px 5px 15px;                

            }

        }
    }

    
}