$color1: #adeada;
$color2: #f88f89;
$color2hover: #e0736d;
$color3: #cdeadc;
$color4: #ddeadd;
$color4hover: #c3cec3;
$color5: #eec276;
$color5hover: #cca664;
$color6: #1f0e1a;
$color7: #ff5d80;
$color7hover: #f14e71;

$color8: #cacaca;
$color9: #24c0eb;
$color10: #5cceee;

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    border: 1px solid $color10;
    box-sizing: border-box;

}

p {
    margin: 0;
}

#body {
    height: 92vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 18vh;

    #container {
        width: 350px;
        height: 400px;
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;

        border: 3px solid rgb(165, 165, 165);

        #settings {
            display: flex;
            align-items: center;
            position: relative;
            border: 1px solid blue;

            select {
                font-size: 1rem;
                cursor: pointer;
                border: 1px solid rgb(165, 165, 165);
            }

        }

        #game {
            display: none;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, auto);
            gap: 35px 15px;
            align-items: center;

            #input {
                width: 60px;
                height: 30px;
                padding: 0px 10px;
            }

            #btn {
                height: 40px;
            }

            * {
                &:last-child {
                    grid-column: 1/3;
                    display: flex;
                    justify-content: center;
                }
            }
        }

        div {
            &:last-child {
                width: 100%;
                display: flex;
                justify-content: end;
                button {
                    display: none;
                }
            }
        }
    }
}