$color1: #adeada;
$color2: #f88f89;
$color2hover: #e0736d;
$color3: #cdeadc;
$color4: #ddeadd;
$color4hover: #c3cec3;
$color5: #eec276;
$color5hover: #cca664;
$color6: #1f0e1a;
$color7: #ff5d80;

$color8: #cacaca;
$color9: #24c0eb;
$color10: #5cceee;

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}

body {
    min-width: 400px;
}

body, html {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    border-bottom: 2px solid blue;
    min-height: 100px;
    max-height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#body {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    background-color: $color7;

    padding: 20px;

    #title {
        font-size: 1rem;
        text-align: center;
        color: white;
        height: 71px;
        margin: 20px 0px;
    }


    #calculator-box {
        display: flex;
        flex-direction: column;
        margin: auto;
        background-color: $color1;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        #view {
            border-bottom: 3px solid rgba($color6, 0.4);
            background-color: $color3;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            padding: 20px 40px;
            height: 50px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            margin: 20px;
            margin-bottom: 0;

            #resultado {
                color: black;
                text-align: right;
                font-size: 2rem;
                margin: 0;

            }
        }

        #buttons-container {
            display: grid;
            grid-template-columns: repeat(4, 70px);
            grid-template-rows: repeat(5, 60px);
            gap: .5em;
            margin: 20px;

            .button {
                background-color: $color4;
                border: 0;
                border-bottom: 3px solid rgba($color6, 0.4);
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                cursor: pointer;

                &:hover {
                    background-color: $color4hover;
                }

                &:nth-child(1), &:nth-child(16) {
                    font-weight: bold;
                    background-color: $color2;
                    &:hover {
                        background-color: $color2hover;
                    }
                }

                &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(8), &:nth-child(12) {
                    background-color: $color5;
                    font-weight: bold;

                    &:hover {
                        background-color: $color5hover;
                    }
                }

                &:nth-child(16) {
                    grid-row: 4/6;
                    grid-column: 4/5;
                }

                &:nth-child(17) {
                    grid-column: 1/3;
                }
            }

        }
    }
}


#footer {
    border-top: 2px solid blue;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}