$color1: #adeada;
$color2: #f88f89;
$color2hover: #e0736d;
$color3: #cdeadc;
$color4: #ddeadd;
$color4hover: #c3cec3;
$color11: #fcf7c5;
$textLight: #fffef2;
$textLightPlaceHolder: #c7c7c7;
$color20: #1ae0dd;
$color20hover: #13747d;
$color30: #ff6c7d;
$color30hover: #ec4457;
$color40: #29221f;
$color40hover: #463934;
$color5: #eec276;
$color5hover: #cca664;
$color6: #1f0e1a;
$color7: #ff5d80;
$color7hover: #ff5d80;

$color8: #cacaca;
$color9: #24c0eb;
$color10: #5cceee;

@media screen and (max-height: 850px) {
    #header {

        #button-container {

            #back {
                padding: 8px;

                img {
                    width: 20px;

                }
            }
        }

        #nav-container {

            #nav-button-container {

                button {
                    padding: 8px;

                    img {
                        width: 20px;
                    }
                }
            }

            .hidden {
                display: none;
            }

            #nav {

                ul {
                    width: 150px;
                    padding: 15px;
                    margin-top: 3px;

                    li {

                        border-bottom: 1px solid #13747d;
                        margin-bottom: 10px;

                        a {
                            font-size: 0.8em;
                        }

                        &:hover {
                            border-bottom: 1px solid transparent;
                        }
                    }
                }
            }
        }
    }

    #body {
        padding: 20px 30px;

        #title {
            p {
                font-size: 0.8em;
                margin: 0;
            }

            text-align: center;
            height: fit-content;
            margin: 10px 0px;
        }
    }
}


@media screen and (min-width: 600px) {

    /* Ajustes para tablets */
    #body {
        padding: 30px 30px;

        #title {
            height: fit-content;
            font-size: 1.2rem;
        }

        #big-container {
            padding: 10px;

            #container-title {
                margin-top: 2.5%;
                font-size: 2rem;
            }

            #container {
                padding: 18px;
            }
        }
    }

}

@media screen and (min-width: 1024px) {

    /* Ajustes para desktops */
    #body {
        padding: 30px 30px;

        #title {
            font-size: 1.5rem;
        }

        #big-container {
            padding: 10px;

            #container-title {
                margin-top: 20px;
                font-size: 2.5rem;
                padding-bottom: 15px;
            }

            #container {
                padding: 18px 70px;
                flex-direction: row;
                justify-content: space-around;
            }
        }
    }
}

@media screen and (min-width: 1500px) {
    #body {

        #big-container {

            #container {
                padding: 18px 120px;
            }
        }
    }
}